:root{
    --A1: #051923;
    --A2: #003554;
    --A3: #006494;
    --A4: #0582CA;
    --A5: #00A6FB;

    --C1: #393939;
    --C2: #E0DCDC;
    --C3: #FFFBFB;
    --V2: #CA0101;
    --V3: #E30613;
    
    --primary: #155bd5;
    --primary-D: #1c3ab6;
    --primary-light: #e2f1ff
}
*{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'Monteserrat', sans-serif;
}
body{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.back{
    height: calc(100vh + 1rem);
    width: 100%;
    z-index: 1;
    position: absolute;
    top: -1rem;
    background-color: white;
}
.res{
    margin-left: 2%;
    padding: 2px;
    border: 1px solid var(--A4);
    border-radius: .2rem;
    font-size: 13px;
    text-align: center;
    width: fit-content;
    position: absolute;
    opacity: 0;
}
/*área de login*/
.email-container{
    margin-top: -0.5rem;
    height: 50%;
    width: 30%;
    display: flex;
    z-index: 100;
    border-radius: .5rem;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
}
.login-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-area: 1rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #fafafa;
    padding: 1rem;
}
.login-header{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    background-color: none;
    padding: 1rem;
    display: inline-block;
    text-align: center;

}
.login-header i{
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 5rem;
    color: var(--primary);
}

.login-header label{
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin-bottom: 1rem;
}
/*área dos ícones das redes sociais para entrar*/
.social-icons{
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background-color: none;
    display: flex;
    justify-content: center;
}
.social-icons a i{
    color: #000000;
    font-size: 2rem;
    margin: 0 1rem;
}
.social-icons a i:hover{
    color: var(--primary);
    transform: scale(1.1);
}
/*fim área redes sociais*/
.input-container{
    background-color: transparent;
    width: 100%;
    position: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem
}
.input-container label{
    color: black;
    font: 2rem;
    margin-top: 1rem;
}
.input-container input{
    padding: 1rem;
    border: none;
    border-radius: .3rem;
    margin-bottom: 1rem;
    color: black;
}
.input-container input:focus{
    border: none;
    outline: none;
    background-color: white;
}
.input-container input:focus::placeholder{
    outline: none;
    color: white;
    font: italic;
    border: 1px solid white;
}
/*botão para criar a conta*/
.login-button{
    width: 90%;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.login-button a{
    padding: 1rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    background-color: var(--primary-D);
    height: fit-content;
    width: 50%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s;
}
button:hover{
    background-color: var(--primary);
}
.login-button button a{
    color: white;
    text-decoration: none;
}

/*local para criar conta*/
/*primeira parte de criar uma conta, a parte de informações gerais*/
#criar-container{
    width: 90%;
    height: auto;;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    flex-grow: 1;
    background-color: none;
}
#criar-form{
    background-color: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16)
}
.general-inf{
    background-color: none;
    width: 40%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
}
.general-inf .nvl-estudo select{
    padding: .5rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary);
    outline: none;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.1rem;
    text-align: center;
    color: black;
}
.general-inf .nvl-estudo select option{
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: .5rem;
}
.general-inf{
    display: flex;
    flex-wrap: wrap;
}
.general-inf .user-name input{
    width: 45%;
    padding: .5rem;
    background: none;
    color: var(--primary);
    border: none;
    border-bottom: 2px solid var(--primary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    margin: 1rem 0;
    color: black;
    font-size: 1.1rem;
    
}
.general-inf .user-name input::placeholder{
    color: black;
    font-size: 1.1rem;
}
.general-inf .gender select{
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary);
    outline: none;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.1rem;
    text-align: center;
    color:black;
}
.general-inf .scho input{
    width: 95%;
    padding: .5rem;
    background: none;
    color: var(--primary);
    border: none;
    border-bottom: 2px solid var(--primary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    margin: 1rem 0;
    color: black;
    font-size: 1.1rem;
}
.general-inf .scho input::placeholder{
    color: black;
    font-size: 1.1rem;
}
.general-inf .future input{
    width: 45%;
    padding: .5rem;
    background: none;
    color: black;
    border: none;
    border-bottom: 2px solid var(--primary);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    margin: 1rem 0;
    color: black;
    font-size: 1.1rem;
}
.general-inf .future input::placeholder{
    color: black;
    font-size: 1.1rem;
}
.general-inf .future select{
    padding: .5rem;
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--primary);
    outline: none;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 1.1rem;
    text-align: center;
    color: black;
}
.general-inf input:focus, 
select:focus{
    background-color: #00a7fb2b;
}
.general-inf .general-nav{
    background-color: none;
    padding: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.general-inf .general-nav p a{
    color: var(--primary-D);
    text-decoration: none;
}
.general-inf .general-nav p a:hover{
    color: var(--primary);
}
.general-inf .general-nav a i{
    color: black;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}
.general-inf .general-nav a i:hover{
    transform: scale(1.1);
    color: var(--primary);
}
/*início da seção 2 da parte de criar conta: informaçõesd e contato*/
.contact-inf{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--primary);
    padding: 2rem 1rem;
}
.contact-inf h2{
    color: white;
    margin-bottom: 1rem;
}
.contact-inf .input-t{
    background-color: transparent;
    padding: .5rem;
    border: none;
    border-bottom: 2px solid white;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
}

.contact-inf .input-t::placeholder{
    color: white;
    font-size: 1.1rem;
}
.contact-inf .streetD input{
    width: 95%;
    background-color: transparent;
    padding: .5rem;
    border: none;
    border-bottom: 2px solid white;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
}
.contact-inf .streetD input::placeholder{
    color: white;
    font-size: 1.1rem;
}
.contact-inf .postal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact-inf .postal select{
    width: 40%;
    padding: .5rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    border-radius: .5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
    margin-bottom: 1rem;
    color: white;
    font-size: 1.1rem;
}
.contact-inf .postal option{
    background-color: var(--primary);
}
.contact-inf .postal .city{
    width: 95%;
}
.contact-inf .number{
    display: flex;
    justify-content: space-around;
}
.contact-inf .number .ddd{
    width: 40%;
}
/*parte do email e validação do email*/
.contact-inf .email .email-user,
.contact-inf .email .password-user{
    width: 95%;
    transition: .3s ease-in-out;
}
.contact-inf .email .email-user:focus, 
.contact-inf .email .password-user:focus{
    outline: none;
    border-color: #777;
}
.contact-inf input:focus,
select:focus{
    background-color: rgba(255, 255, 255, 0.241);
}
/*parte de mudança de cor de acordo com a verificação */
.contact-inf .email.sucess input{
    border-color: #2ecc71;
}
.contact-inf .email.error input{
    border-color: #e74c3c;
}
.contact-inf .email i{
    visibility: hidden;
    position: absolute;
    top: 1.5rem;
    right: .5rem;
}
.contact-inf .email.sucess i.fa-check-circle{
    visibility: visible;
    color: #2ecc71;
}
.contact-inf .email.error i.fa-exclamation-circle{
    visibility: visible;
    color: #e74c3c;
}
.contact-inf .email small{
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
    color: #e74c3c;
}
.contact-inf .email.error small{
    visibility: visible;
}
/*parte abaixo do preenchimento de informações*/
.contact-inf .aceppt{
    background-color: none;
    padding: .5rem;
    text-align: center;
    color: white;
}
.contact-inf .aceppt .container{
    border: none;
    outline: none;
}
/*animação da checkbox*/
.check {
    cursor: pointer;
    position: relative;
    margin: auto;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  
  .check:hover:before {
    opacity: 1;
  }
  
  .check:hover svg {
    stroke: white;
  }
  
  #cbx:checked + .check svg {
    stroke: white;
  }
  
  #cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  
  #cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
.contact-inf{
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
}
.contact-inf .aceppt a{
    color: #fafafa;
    text-decoration: none;
    transition: .3s ease;
}
.contact-inf .aceppt a:hover{
    transform: scale(1.1);
}
/*botão para a criação de conta*/
.contact-inf .registrar{
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    width: 25%;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 1.1rem;
    color: var(--primary);
    background-color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: .5s ease;
}
.contact-inf .registrar{
    margin: 0 auto;
    text-decoration: none;
    color: var(--primary);
    transition: .5s ease;
}
.contact-inf .registrar:hover{
    color: white;
    background-color: var(--primary-D);
    border-radius: .5rem;
    box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
}
#criar-form .general-nav2{
    display: none;
    width: 0;
    height: 0;
}
/*área da notificação de criação de conta*/
.popup-div{
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.popupContainer{
    text-align: center;
    position: absolute;
    top: 1rem;
    width: 20rem;
    transform: scale(0.1);
    border-radius: 1rem;
    background-color: var(--C3);
    visibility: hidden;
    padding: 1rem;
    transition: all .4s linear;
    z-index: 999;

}
.popupContainer i{
    width: 100%;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--A2);
}
.popupActive{
    z-index: 1000;
    top: 30%;
    visibility: visible;
    transform: scale(1.1);
}
.popupContainer h2, 
p{
    text-align: center;
}
#close{
    width: 95%;
    font-size: 1rem;
    margin-top: 1rem;
    padding: .6rem;
    border-radius: 2rem;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    color: var(--A3);
    transition: all .4s ease;
}
#close:hover{
    background-color: var(--A5);
    color: white;
}
@keyframes progress{
    100%{
        right: 100%;
    }
}
@media(max-width:768px){
    body{
        overflow-x: hidden;
    }
    .email-container{
        background-color: white;
        width: 100%;
        height: 100%;
        margin-right: auto;
        display: inline-block;
        height: auto;
        padding: 1rem;
        border-radius: .2rem;
        margin-top: -1.5rem;
        box-shadow: none;    }
    .login-form{
        margin-top: 2%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .noturno{
        opacity: 0;
        z-index: 00;
    }
    .notifica-container{
        opacity: 0;
        width: 0;
        z-index: 00;
    }
    #criar-form{
        display: inline-block;
        justify-content: center;
    }
    .general-inf{
        width: 80%;
        margin: 0 auto;
    }
    .contact-inf{
        width: 80%;
        margin: 0 auto;
        border-radius: .5rem;
    }
    .general-inf .general-nav{
        display: none;
        width: 0;
        height: 0;
        z-index: 00;
    }
    .general-inf .user-name input,
    .general-inf .future input, 
    .general-inf .future select{
        width: 95%;
    }
    #criar-form .general-nav2{
        background-color: none;
        padding: 1rem;
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    #criar-form .general-nav2 p a{
        color: var(--primary-D);
        text-decoration: none;
    }
    #criar-form .general-nav2 p a:hover{
        color: var(--primary);
    }
    #criar-form .general-nav2 a i{
        color: black;
        font-size: 1.1rem;
        transition: .3s ease-in-out;
    }
    #criar-form .general-nav2 a i:hover{
        transform: scale(1.1);
        color: var(--primary);
    }

}
@media(max-width:500px){
    .criar{
        background-color: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .criar span{
        margin-left: 0;
    }
}