:root{
    --A1: #051923;
    --A2: #003554;
    --A3: #006494;
    --A4: #0582CA;
    --A5: #00A6FB;

    --C1: #393939;
    --C2: #E0DCDC;
    --C3: #FFFBFB;
    --V2: #CA0101;
    --V3: #E30613;
    
    --primary: #155bd5;
    --primary-D: #1c3ab6;
    --primary-light: #e2f1ff;
    --box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
}
*{
    margin: 0;
    padding: 0;
    display: inline-block;
    font-family: 'Monteserrat', sans-serif;
}
body{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}/*configurações globais*/
.submitRegister{
    border: none;
    outline: none;
    margin: .1rem auto;
    text-decoration: none;
    cursor: pointer;
    width: 60%;
    height: auto;
    background-color: var(--primary);
    padding: .5rem;
    border-radius: .6rem;
    color: #FFF;
    font-size: 1rem;
    transition: .3s ease-in-out;
}
.submitRegister:hover{
    background-color: var(--primary-D);
}
.inputRegister{
    width: 95%;
    position: relative;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: none;
    border-radius: 1rem;
    background-color: #e2f1ffae;
    transition: .5s ease;
}
.captchaSection{
    background-color: none;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*validação de captcha*/
.captcha-Container{
    position:relative;
    max-width: 18rem;
    width: 100%;
    border-radius: 1.2rem;
    padding: 1rem 1.5rem;
    background: #fff;
    box-shadow: var(--box-shadow);
    opacity: 1;
    display: block;
}

.captcha-Container header{
    color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

}
.input-field{
    position: relative;
    height: 2.8rem;
    margin-top: 1rem;
    width: 100%;
}
.refresh{
    position: absolute;
    top: 50%;
    right: .6rem;
    transform: translateY(-50%);
    background: var(--primary);
    height: 2rem;
    width: 2rem;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.refresh:active{
    transform: translateY(-50%) scale(0.98);
}
.input-field input,
#CaptchaButton{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: .5rem;
}
.input-field input{
    padding: .5rem .5rem;
    border:1px solid rgba(0, 0, 0, 0.1) ;
}
.input-field input::placeholder{
    font-size: 1rem;
    color: #3d3d3d;
}
.captcha-box input{
    color: #6b6b6b;
    font-size: 22px;
    pointer-events: none;
}
.captcha-box input:focus{
    box-shadow: var(--box-shadow);
}
.msgCaptcha{
    font-size: .8rem;
    margin: 1rem 0;
    color: var(--primary);
    display: none;
}
.msgCaptcha.active{
    display: block;
}
#ButtonforCaptcha{
    background: var(--primary);
    width: 100%;
    border-radius: .5rem;
    padding: .5rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: var(--C1);
    color: #fff;
    cursor: pointer;
    user-select: none;
}
#ButtonforCaptcha a{
    text-decoration: none;
    color: #fff;
}
#CaptchaButton:active{
    transform: scale(.99);
}
#CaptchaButton.disabled{
    opacity: 0.6;
    pointer-events: none;
}
.back{
    height: calc(100vh + 1rem);
    width: 100%;
    z-index: 1;
    position: absolute;
    top: -1rem;
    background-color: white;
}
.res{
    margin-left: 2%;
    padding: 2px;
    border: 1px solid var(--A4);
    border-radius: .2rem;
    font-size: 13px;
    text-align: center;
    width: fit-content;
    position: absolute;
    opacity: 0;
}
/*criação de senha verificação visual*/
.wrapper{
    background-color: none;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding: 0rem ;
}
.wrapper .passField{
    background-color: none;
    width: 100%;
    height: 4rem;
    position: relative;

}
.passField input{
    width: 120%;
    height: 45%;
    outline: none;
    padding: 0 1rem;
    font-size: 1rem;
    border-radius: .5rem;
    background-color: #e2f1ffae;
}
.passField input:focus{
    background-color: #155bd583;

}
.passField i{
    right: 5%;
    top: 50%;
    font-size: 1.2rem;
    color: #999;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
}
.wrapper .wrapperContent{
    margin: 0rem 0 .5rem 0;
    padding: 0 0 0 1rem;
    display: none;
    flex-direction: column;
    transition: .5s ease;
}

.wrapperContent p{
    color: var(--C1);
    font-size: 1rem;
}
.wrapperContent .requerimentList{
    margin-top: 1.2rem;
}
.wrapperContent .requerimentList li{
    font-size: 1rem;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.requerimentList li i{
    width: 1.3rem;
    color: #aaa;
    font-size: 0.6rem;
}
.requerimentList li.valid i{
    font-size: 1.2rem;
    color: var(--primary);
}
.requerimentList li span{
    margin-left: 12px;
    color: #333;
}
.requerimentList li.valid span{
    color: #999;
}
/*área de login*/
.email-container{
    margin-top: -0.5rem;
    height: 50%;
    width: 30%;
    display: flex;
    z-index: 100;
    border-radius: .5rem;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
}
.login-form{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    grid-area: 1rem;
    padding: 1.5rem;
    border-radius: .5rem;
    background-color: #fafafa;
    padding: 1rem;
}
.login-header{
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    background-color: none;
    padding: 1rem;
    display: inline-block;
    text-align: center;

}
.login-header i{
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 5rem;
    color: var(--primary);
}

.login-header label{
    color: #000000;
    font-size: 2rem;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin-bottom: 1rem;
}
/*Formulário de criação de conta1*/
.formSection{
    background-color: none;
    width: 100%;
    height: 100vh;
    display: flex;
}
.formCreate{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    gap: .6rem;
    max-width: 50%;
    width: 40%;
    height: fit-content;
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 1.5rem;
    position: relative;
}
.titleCreate{
    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    margin: .5rem auto;
    padding-left: 1.9rem;
    align-items: center;
}
.titleCreate::before,.titleCreate::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
.titleCreate::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}
  
.titleCreate::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
.msgRegister,
.SingIn{
    color: var(--C1);
    font-size: .95rem;
    text-align: center;
}
.SingIn a{
    color: var(--primary);
    text-decoration: none;
}
.SingIn a:hover{
    text-decoration: underline var(--primary);
    transition: .5s ease;
}
.formflex{
    display: flex;
    width: 100%;
    gap: 1rem;
    background-color: none;
    
}
.formflex label{
    gap: 1rem;
    display: flex;
    width: 45%;
    background-color: none;
}
.formCreate label{
    position: relative;
    gap: .5rem;
    background-color: none;
}
.formCreate label .inputRegister{
    width: 95%;
    position: relative;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: none;
    border-radius: 1rem;
    background-color: #e2f1ffae;
    transition: .5s ease;
}

.formCreate label .inputRegister + span{
    position: absolute;
    left: .6rem;
    top: 1rem;
    color: #3d3d3d;
    font-size: .9em;
    cursor: text;
    transition: .3 ease;
}
.formCreate label .inputRegister:placeholder-shown + span{
    top: 15px;
    font-size: .9em;
    transition: .5s ease;
}
.formCreate label .inputRegister:focus + span,
.formCreate label .inputRegister:valid + span{
    top: 2rem;
    font-size: .7em;
    font-weight: 600;
    transition: .5s ease;
}
.formCreate label .inputRegister:valid + span{
    color: rgb(4, 206, 4);
}
.formSection .LinkSubmitButton{
    background-color: none;
    display: flex;
    width: 100%;
    text-decoration: none;
}
.formSection .LinkSubmitButton .submitRegister{
    border: none;
    outline: none;
    margin: .1rem auto;
    text-decoration: none;
    cursor: pointer;
    width: 60%;
    height: auto;
    background-color: var(--primary);
    padding: .5rem;
    border-radius: .6rem;
    color: #FFF;
    font-size: 1rem;
    transition: .3s ease-in-out;
}
.formSection a .submitRegister:hover{
    background-color: var(--primary-D);
}
/*seção de entrar na conta*/
.separator{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #3d3d3d;
}
.separator .line{
    display: block;
    height: 1px;
    border:none;
    background-color: #000000;
}
.inputContainerEnter label{
    color: var(--C1);
    margin: 1rem 0 0 1rem;
}
.enterAlternative{
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    cursor: pointer;
    color: var(--C1);
    font-size: 1rem;
    font-weight: normal;
    transition: .3s ease-in;
}

 .google i {
    color: rgb(207, 18, 18);
}
.google:hover{
    background-color: var(--V3);
    color: #fff;
}
.google:hover i{
    color: #fff;
}
.microsoft i{
    color: #008000;
}
.microsoft:hover{
    background-color: #008000;
    color: #fff;
}
.microsoft:hover i{
    color: #fff;
}
.terms{
    display: flex;
    align-items: center;
    justify-content: center;
}
.terms a{
    display: flex;
    margin: 1rem auto;
    color: var(--C1);
    text-decoration: none;
    transition: .3s ease;
}
.terms a:hover{
    text-decoration: underline;
    color: var(--primary);
}
@keyframes pulse{
    from {
        transform: scale(0.9);
        opacity: 1;
      }
    
      to {
        transform: scale(1.8);
        opacity: 0;
      }
}
@keyframes progress{
    100%{
        right: 100%;
    }
}
@media(max-width:768px){
    body{
        overflow-x: hidden;
    }
    .email-container{
        background-color: white;
        width: 100%;
        height: 100%;
        margin-right: auto;
        display: inline-block;
        height: auto;
        padding: 1rem;
        border-radius: .2rem;
        margin-top: -1.5rem;
        box-shadow: none;    }
    .login-form{
        margin-top: 2%;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .noturno{
        opacity: 0;
        z-index: 00;
    }
    .notifica-container{
        opacity: 0;
        width: 0;
        z-index: 00;
    }
    #criar-form{
        display: inline-block;
        justify-content: center;
    }
    .general-inf{
        width: 80%;
        margin: 0 auto;
    }
    .contact-inf{
        width: 80%;
        margin: 0 auto;
        border-radius: .5rem;
    }
    .general-inf .general-nav{
        display: none;
        width: 0;
        height: 0;
        z-index: 00;
    }
    .general-inf .user-name input,
    .general-inf .future input, 
    .general-inf .future select{
        width: 95%;
    }
    #criar-form .general-nav2{
        background-color: none;
        padding: 1rem;
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    #criar-form .general-nav2 p a{
        color: var(--primary-D);
        text-decoration: none;
    }
    #criar-form .general-nav2 p a:hover{
        color: var(--primary);
    }
    #criar-form .general-nav2 a i{
        color: black;
        font-size: 1.1rem;
        transition: .3s ease-in-out;
    }
    #criar-form .general-nav2 a i:hover{
        transform: scale(1.1);
        color: var(--primary);
    }

}
@media(max-width:500px){
    .criar{
        background-color: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .criar span{
        margin-left: 0;
    }
}