:root{
    --A1: #051923;
    --A2: #003554;
    --A3: #006494;
    --A4: #0582CA;
    --A5: #00A6FB;

    --C1: #393939;
    --C2: #E0DCDC;
    --C3: #FFFBFB;
    --V2: #CA0101;
    --V3: #E30613;

    --D1: #02010A;
    --D2: #04052E;
    --D3: #140152;
    --D4: #22007C;
    --D5: #0D00A4;

    --primary: #155bd5;
    --primary-D: #1c3ab6;
    --primary-light: #e2f1ff
    --box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Monteserrat', sans-serif;
}
html, body{
    height: 100%;

}
html{
    scroll-padding: 7rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
.sideBar{
    position: fixed;
    height: 100%;
    width: 5%;
    background: #f8f9fa;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.sideBar a span{
    display: none;
    transition: .3s ease-in-out;
}

.sideBar:hover{
    width: 25%;
} 
.sideBar:hover > button{
    display: inline;
}
.sideBar:hover > a span{
    display: flex;
    margin-right: 0;
    background-color: transparent;
    height: auto;
    width: 45%;
    text-align: center;
    margin: .2rem auto;
}
.sideBar button{
    align-items: center;
    margin: 1rem auto;
    display: flex;
    padding: .5rem;
    height: auto;
    width: 3rem;
    color: var(--A4);
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    animation: .3s ease;
    display: none;
}
.sideBar button:hover{
    transform: scale(1.1);
}

.sideBar:hover .img img{
    height: 5rem;
    display: flex;
    margin: 0 auto;
}
.sideBar a{
    text-decoration: none;
    color: var(--A1);
    width: 90%;
    background-color: transparent;
    transition: .3s ease-in-out;
    
}

.sideBar a i{
    display: flex;
    font-size: 1.5rem;
    height: auto;
    width: 2rem;
    margin: 50% auto;
    color: var(--A2);
    transition: .3s ease-in-out;
    justify-content: space-around;
}
.sideBar a:hover{
    padding: .5rem auto;
    width: 85%;
    background: var(--A3);
    border-radius: .5rem;
}
.sideBar:hover a i{
    margin: .5rem auto;
}
.sideBar .img img{
    height: 3rem;
    width: auto;
    margin: 1rem 0;
    display: flex;
    transition: .5s ease-in-out;
}