:root{
    --A1: #051923;
    --A2: #003554;
    --A3: #006494;
    --A4: #0582CA;
    --A5: #00A6FB;

    --C1: #393939;
    --C2: #E0DCDC;
    --C3: #FFFBFB;
    --V2: #CA0101;
    --V3: #E30613;

    --D1: #02010A;
    --D2: #04052E;
    --D3: #140152;
    --D4: #22007C;
    --D5: #0D00A4;

    --primary: #155bd5;
    --primary-D: #1c3ab6;
    --primary-light: #e2f1ff;
    --box-shadow: 0px 2px 8px rgba(40, 41, 61, 0.04),
    0px 16px 24px rgba(96, 97, 112, 0.16);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Monteserrat', sans-serif;
}
html, body{
    height: 100%;

}
html{
    scroll-padding: 7rem;
    scroll-behavior: smooth;
}
section{
    padding: 2rem 9%;
}
#barDash{
    color: #fff;
    font-size: 2rem;
    margin-left: 95%;
    margin-right: 2rem;
    margin-top: 2rem;
    display: flex;
    cursor: pointer;
}
header{
    position: absolute;
    display: flex;
    background-color: transparent;
    width: 100%;

}
#offcanvasWithBothOptions{
    background: var(--primary);
    border: none;
}
.dashHome{
    background-color: var(--primary);
    height: 95vh;
}
.sideBar{
    height: 100%;
    width: 6%;
    padding: 1rem 0;
    position: fixed;
    background-color: transparent;
}
.sideBar .container-own button{
    position: absolute;
    background-color: transparent;
    border: none;
    z-index: 100;
}
.sideBar .container-own img{
    width: auto;
    height: 4rem;
}
/*parte do slider*/
.slider{
    height: 40vh;
    display: flex;
    z-index: 0;
}
.slider .container{
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    height: 50vh;
    width: 60vw;
    background-color: var(--primary-light);
    box-shadow: var(--box-shadow);
    border: none;
    border-radius: 2rem;
}
.slider .carousel .carousel-inner .carousel-item{
    width: 100%;
    height: auto;
}
.slider .carousel .carousel-inner .carousel-item img{
    display: flex;
    height: auto;
    width: 50%;
    margin: 0 auto;
}
.slider .carousel .carousel-inner{
    background-color: transparent;
    display: flex;
    margin: 0 auto;
    border-radius: 2rem;
}

.dashHome h2,
.dashHome h3{
    color: #fff;
    font-weight: 600;
}
.dashHome h2{
    font-size: 4rem;
}
.dashHome h3{
    font-size: 3rem;
}